*{
    padding-top: 0;
    width: 100%;
    font-family: inherit, sans-serif;
}

.instaNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-inline: 1em;

    width: 20%;
    height: 100vh;

    gap: 0.2rem;

    z-index: 1;
    border-right: 1px solid;
}

.btn{
    display: flex;
    flex-direction: column;

    padding-bottom: 5em;
    
}

button{
    display: inline-flex;
    align-items: center;
    
    gap: 1rem;

    background: none;
    border: none;

    font-size: 16.5px;

    margin-block: 6px;
    padding-block: 10px;
    padding-inline: 0.5em;
    

}

button:hover{
    scale: 1.04;
    transition-duration: 0.3s;

    background-color: #d6cfcb2f;
    border-radius: 0.3em;

}

.instaNav_logo{
    height: 65px;
    width: auto;

    padding-left: 1em;
}

.menu{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    gap: 1rem;
}
